<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.f.ait.kyushu-u.ac.jp/Mcore" 
       class = "nel.mcore.McorePackage"
       genModel = "nel/Mcore.genmodel" /> 
	
  </extension>




</plugin>
